

.container {
  padding: 5px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: auto;

  .spacer {
    flex: 1 1 auto;
  }

  .toolbar-title {
    font-size: 20px;
    font-weight: 500;
  }

  .list-container {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 25px;
    mat-toolbar {
    width: 98% !important;
    }
    .todo-card {
      width: 98%;
      border-radius: 16px;
      cursor: pointer;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding: 5px 2px;
      margin-top: 10px;

      &:hover {
        transform: translateY(-4px);
        box-shadow: 0 10px 24px rgba(0, 0, 0, 0.15);
      }

      .panel-content {
        padding: 0 0.5rem 0 0;
      }

      .card-footer {
        padding-left: 0.5rem;
        display: flex;
        justify-content: flex-start;
        gap: 10px;
      }
    }

    .custom-header {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 8px;
      padding-top: 15px;

      .header-title {
        font-size: 1.2rem;
        font-weight: 600;
        width: 100%;
      }

      .header-description {
        width: 100%;
        mat-chip-set {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;
        }

        mat-chip {
          display: flex;
          align-items: center;
          gap: 5px;
          font-size: 0.9rem;
          span {
            display: inline-table;
            vertical-align: super;
            font-size: 16px;
          }
        }
        mat-chip.warn {
          background-color: #ffe0e0;
          color: #c62828;
        }

        mat-chip[color="primary"] {
          background-color: #e0f2ff;
          color: #1565c0;
        }

      }
    }

  }

  .panel-actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }

  .empty {
    text-align: center;
    font-size: 1.2rem;
    color: #777;
    padding: 20px;
    margin-top: 20px;
  }
}
