<div class="container">
  <mat-toolbar color="primary">
    <span class="toolbar-title">Todo Lists</span>
    <span class="spacer"></span>
    <button
      mat-icon-button
      matTooltip="Add List"
      matTooltipPosition="below"
      (click)="addList()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-toolbar>
  <div class="list-container" *ngIf="(todoLists$ | async) as lists; else noLists">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let list of lists" class="todo-card" (opened)="onPanelOpened(list)">
        <mat-expansion-panel-header class="custom-header">
          <div class="header-title">{{ trimTitle(list.title) }}...</div>
          <div class="header-description">
            <mat-chip-set attr.aria-label="{{ list.title }}">
              <mat-chip class="warn">
                <span>{{ list?.totalTasks }} </span>
                <mat-icon>format_list_numbered</mat-icon>
              </mat-chip>
              <mat-chip color="primary">
                <span>
                  {{ getCompletedTasksCount(selectedList$ | async, list) }}
                </span>
                <mat-icon>check_box_marked</mat-icon>
              </mat-chip>
            </mat-chip-set>
          </div>
        </mat-expansion-panel-header>
        <div class="panel-content">
          <app-todo-detail *ngIf="selectedListId === list._id" [listId]="list._id" (toggleTaskStatus)="onToggleTask($event)"></app-todo-detail>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <ng-template #noLists>
    <p class="empty">No Lists available.</p>
  </ng-template>
</div>
