mat-expansion-panel-header {
  mat-toolbar {
    button {
      margin-right: 10px;
      z-index: 1;
    }
  }
}
@media (max-width: 599px) {
  mat-expansion-panel-header {
    mat-toolbar {
      button {
        margin-right: 2px;
        height: 30px;
        width: 30px;
        z-index: 1;
      }
    }
  }
}

