<div class="list-container" *ngIf="(todoLists$ | async) as lists; else noLists">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let list of lists; trackBy: trackByListId"  (opened)="onPanelOpened(list)">
    <mat-expansion-panel-header>
      <mat-toolbar class="list-card-header">
        <span>{{ trimTitle(list.title) }}</span>
        <span class="toolbar-spacer"></span>
        <button mat-mini-fab class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon" (click)="$event.stopPropagation();  addTaskDialog()">
          <mat-icon>add</mat-icon>
        </button>
        <button mat-mini-fab class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon" *ngIf="selectedListId === list._id; else elseBlock" (click)="$event.stopPropagation();">
          <span>{{ patchTasksCount(selectedList$ | async) }}</span>
          <mat-icon>format_list_bulleted_add</mat-icon>
        </button>
        <ng-template #elseBlock>
        <button mat-mini-fab class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon" (click)="$event.stopPropagation();">
          <span>{{ list?.totalTasks }}</span>
          <mat-icon>format_list_bulleted_add</mat-icon>
        </button>
        </ng-template>
        <button mat-mini-fab class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon" *ngIf="selectedListId === list._id; else elseBlockCompleted" (click)="$event.stopPropagation();">
          <span>{{ patchCompletedTasksCount(selectedList$ | async, list) }}</span>
          <mat-icon>check_circle</mat-icon>
        </button>
        <ng-template #elseBlockCompleted>
          <button mat-mini-fab class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon" (click)="$event.stopPropagation();">
            <span>{{ list?.completedTasks }}</span>
            <mat-icon>check_circle</mat-icon>
          </button>
          </ng-template>
        <button mat-mini-fab class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon" (click)="$event.stopPropagation(); editList(list)">
          <mat-icon>edit_arrow_up</mat-icon>
        </button>
        <button mat-mini-fab class="nav-icon favorite-icon" aria-label="nav icon-button with heart icon" (click)="$event.stopPropagation();  deleteList(list)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-toolbar>
    </mat-expansion-panel-header>
    <app-todo-detail *ngIf="selectedListId === list._id" [listId]="list._id" (toggleTaskStatus)="onToggleTask($event)" (delTaskHandler)="onDeleteTask($event)"></app-todo-detail>
    <br>
  </mat-expansion-panel>
  </mat-accordion>
</div>
<ng-template #noLists>
  <p class="empty">No Lists available.</p>
</ng-template>
