<div *ngIf="selectedTaskList$ | async as list" class="task-container">
  <!-- Header with Add Task Button -->
  <div class="task-header">
    <h2>{{ trimTitle(list.title)}}...</h2>
    <button mat-raised-button color="primary" (click)="openTaskDialog()">
      <mat-icon>add</mat-icon> Add Task
    </button>
  </div>

  <!-- Task Cards -->
  <div class="task-card-stack">
    <mat-card
      *ngFor="let task of list.tasks; trackBy: trackByTaskId"
      class="task-card"
      appearance="outlined"
    >
      <mat-card-title>{{ task.title }}</mat-card-title>
      <mat-card-content>{{ task.description }}</mat-card-content>
      <mat-card-actions>
        <!-- Container for buttons -->
        <div class="button-container">
          <!-- Edit button -->
          <button mat-icon-button (click)="editTask(task)">
            <mat-icon>edit</mat-icon>
          </button>

          <!-- Delete button -->
          <button mat-icon-button (click)="deleteTask(task)">
            <mat-icon>delete</mat-icon>
          </button>

          <!-- Mark as done button -->
          <button mat-icon-button (click)="onToggleTask(task)">
            <mat-icon>{{
              task.completed ? "check_circle" : "radio_button_unchecked"
            }}</mat-icon>
          </button>
        </div>

        <!-- <span [class.completed]="task.completed">{{
          task.completed ? "Completed" : "Pending"
        }}</span> -->
      </mat-card-actions>
    </mat-card>
  </div>
</div>
